@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', sans-serif;
}

body {
  height: 100svh;
  background-color: rgb(6, 59, 206);
}

.content {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: black;
  width: 50%;
  margin: auto;
  height: 90svh;
  flex-direction: column;
}

@media (max-width: 768px) {
  .content {
    width: 90%;
    margin: auto;
  }
}
