.Cuadro {
  padding-top: 10px;
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  margin: auto;
}

.Bloques {
  border: 2px solid rgb(43, 255, 0);
}

.playerX {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
}
.playerO {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
}

.Title {
  text-align: center;
  font-size: 70px;
  color: rgb(43, 255, 0);
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
}

.Players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.Players > p {
  background-color: rgb(43, 255, 0);
  border-radius: 6px;
  padding: 5px;
  font-size: 30px;
}

@media (max-width: 768px) {
  .Cuadro {
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(3, 110px);
    margin: auto;
  }
  .playerX {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
  }
  .playerO {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
  }
  .Players > p {
    font-size: large;
  }
}
