.Caja {
  height: 70svh;
  display: flex;
  flex-direction: column;
}

.Duelo {
  display: flex;
  height: 100%;
}
.Duelo > .ClasePiedra {
  font-size: 100px;
  text-align: center;
  padding-top: 20%;
  background-color: black;
}

.Duelo > .ClasePapel {
  font-size: 100px;
  text-align: center;
  padding-top: 20%;
  background-color: black;
}

.Duelo > .ClaseTijera {
  font-size: 100px;
  text-align: center;
  padding-top: 20%;
  background-color: black;
}

.Players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.Players > p {
  background-color: rgb(43, 255, 0);
  border-radius: 6px;
  padding: 5px;
  font-size: 30px;
}

.ClasePiedra {
  background-color: black;
  font-size: 30px;
  color: rgb(43, 255, 0);
  padding: 10px;
  border: 1px solid rgb(43, 255, 0);
  border-radius: 5px;
  cursor: pointer;
}
.ClasePapel {
  background-color: black;
  font-size: 30px;
  color: rgb(43, 255, 0);
  padding: 10px;
  border: 1px solid rgb(43, 255, 0);
  border-radius: 5px;
  cursor: pointer;
}
.ClaseTijera {
  background-color: black;
  font-size: 30px;
  color: rgb(43, 255, 0);
  padding: 10px;
  border: 1px solid rgb(43, 255, 0);
  border-radius: 5px;
  cursor: pointer;
}

.Botones {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

.FirstPlayer {
  border: 2px solid rgb(43, 255, 0);
  height: 80%;
  width: 100%;
  margin: auto;
}

.PlayerRandom {
  border: 2px solid rgb(43, 255, 0);
  height: 80%;
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .ClaseTijera {
    font-size: medium;
  }
  .ClasePapel {
    font-size: medium;
  }
  .ClasePiedra {
    font-size: medium;
  }

  .Title {
    font-size: xx-large;
  }

  .Players > p {
    font-size: large;
  }
}
